<table>
  <thead>
    <tr>
      <th>Order #</th>
      <th>Items</th>
      <th>Qty</th>
      <th>Order Total</th>
      <th>Date</th>
      <th>Shipping Address</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do | order | %>
      <% order.order_items.each do |sale| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= link_to "#{sale.product.name}", product_path(sale.product) %></td>
          <td><%= sale.quantity %></td>
          <td><%= number_to_currency(sale.subtotal) %></td>
          <td><%= sale.order.purchase.created_at.strftime("%m/%d/%Y, %I:%M %p %Z") %>
          <td><%= sale.order.purchase.address %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
