<%orders = Order.where(:user_id => @user.id) %>

<table>
  <thead>
    <tr>
      <th>Order #</th>
      <th>Items</th>
      <th>Qty</th>
      <th>Order Total</th>
      <th>Date</th>
      <th>Shipping Address</th>
    </tr>
  </thead>

  <tbody>
    <% orders.each do | order | %>
      <% order.order_items.each do |sale| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= link_to "#{sale.product.name}", product_path(sale.product) %></td>
          <td><%= sale.quantity %></td>
          <td><%= number_to_currency(sale.product.price * sale.quantity) %></td>
          
          <td><%= Purchase.find_by(:order_id => order.id).created_at.to_formatted_s(:short) %></td>
          <td><%= Purchase.find_by(:order_id => order.id).address %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
