<% orders = Order.where(:user_id => @user.id) %>
<table>
  <thead>
    <tr>
      <th>Order #</th>
      <th>Items</th>
      <th>Qty</th>
      <th>Order Total</th>
      <th>Date</th>
      <th>Shipping Address</th>
    </tr>
  </thead>
<% orders.each do | order | %>
  <tbody>
    <tr>
      <td><%= order.id %></td>
      <% order.products.each do |product| %>
        <td><%= link_to "#{product.name}", product_path(product) %></td>
          <td><% product.order_items.each do |sale| %>
              <%= sale.quantity %></td>
          <% end %>
        <% @order_item = OrderItem.find_by(product_id: product.id, order_id: order.id) %>
        <% @total  = product.price * @order_item.quantity.to_i %>
        <td> <%= number_to_currency(@total) %></td>
      <% end %>
      <td><%= Purchase.find_by(:order_id => order.id).created_at.to_formatted_s(:short) %></td>
      <td><%= Purchase.find_by(:order_id => order.id).address %></td>
<% end %>
    </tr>
  </tbody>
</table>
