<div><h1><%= @user.username %></h1></div>
<% if @user.id == session[:user_id] %>
  <em><%= @user.email %></em><br><br>
  <%= link_to 'Edit My Account', edit_user_path %>
<% end %>

<table id="user_table">
<tr>
  <td id="my_products">

    <% if @user.id == session[:user_id] %>
      <h2>My Products</h2>
      <%= link_to 'Create New Product', new_product_path %><br>
      <%= link_to 'Create New Category', new_category_path %>
    <% else %>
      <h2><%= @user.username %>'s Products</h2>
    <% end %>
    <br><br>

    <% @user.products.each do |product| %>
      <table>
        <tr>
        <td>
          <div>
            <% if product.photo == "" %>
              <%= image_tag("sloth_default.png") %> 
            <% else %>
              <%= image_tag(product.photo, width: '150') %> 
            <% end %>
          </div> 
        </td>
        <td id='product_description'>
          <div class="title">
            <%= link_to product.name, product %>
          </div>
          <%= number_to_currency(product.price) %>
          <br>
          <% if @user.id == session[:user_id] %>
            <div id="edit_destroy">
            [<%= link_to 'Edit', edit_product_path(product) %>] [<%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>]
          <% end %>
          </div>
        </td>
      </tr>
    </table>
    <% end %>
  </td>
  <% if @user.id == session[:user_id] %>
    <td>
      <h2>My Sales</h2>
    <% OrderItem.joins(:product).where("products.user_id = ?", @user.id).each do |sale| %>
      <p>Order # <%= sale.order_id%> <%= link_to "#{Product.find(sale.product_id).name}", product_path(Product.find(sale.product_id).name)%> Quantity: <%= sale.quantity%> Total: <%= number_to_currency(Product.find(sale.product.id).price * sale.quantity) %> <br></p>
    <%end%>
    </td>
  <% end %>
</tr>
</table>