<h1>Order Confirmation</h1>

Order status: <%= @purchase.order.status %> <br><br>

<%= @purchase.created_at.strftime("Placed on %m/%d/%Y at %I:%M %p %Z.") %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <!-- Maybe put this logic in model... -->

  <tbody>
    <% @purchase.order.products.each do |product| %>
    <tr>
      <td><%= link_to "#{product.name}", product_path(product) %></td>
      <% @order_item = OrderItem.find_by(product_id: product.id, order_id: @purchase.order.id) %>
      <td><%= @order_item.quantity.to_i %></td>
      <% subtotal = product.price*@order_item.quantity.to_i %>
      <td><%= number_to_currency(subtotal) %></td>
      <% @total += subtotal %>
    </tr>
    <% end %> 

  </tbody>
</table>

<br>
Total: <%= number_to_currency(@total) %>