<p id="notice"><%= notice %></p>

<h3>Shopping Cart:</h3>
 <table>
    <thead>
      <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order.products.each do |product| %>
    <tr>
        <td><%= link_to "#{product.name}", product_path(product) %></td>
        <td><%= number_to_currency(product.price) %>
        <% @order_item = OrderItem.find_by(product_id: product.id, order_id: current_order.id) %>
        <td><%= form_for(@order_item) do |f| %>
          <%= f.text_field  :quantity, :value => @order_item.quantity.to_i %>
          <%= f.submit('Update qty') %>
          <% end %>
        <td><%= button_to "remove", remove_item_path(current_order.id, product.id), method: :delete %></td>  
    </tr>
    <% end %> 
  </tbody>
 </table>
</br>
Order Total:

</br>
 <p>link to checkout</p>

 
 
