<p id="notice"><%= notice %></p>

<h3>Shopping Cart:</h3>
 <table>
    <thead>
      <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order.products.each do |product| %>
    <tr>
        <td><%= link_to "#{product.name}", product_path(product) %></td>
        <td><%= number_to_currency(product.price) %>
        <td><%= qty = OrderItem.find_by(product_id: product.id, order_id: current_order.id).quantity.to_i %></td>
    </tr>
    <% end %> 
  </tbody>
 </table>
</br>
Order Total:

<br><br>

<%= link_to "Checkout", new_purchase_path %>