<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<strong>Products:</strong>
  <ul>
    <% @category.products.each do |product| %>
      <li>   
        <%= link_to "#{product.name}", product_path(product) %>
        <%= button_to "delete", remove_product_path(@category.id, product.id), :method => :delete %>
      </li>
    <%end%>
  </ul>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
