<h1>Products</h1>

<% if current_user %>
  <%= link_to 'Add New Product', new_product_path %>
<% end %>

<table>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><img src="http://placekitten.com/150/150"></img></td>
        <td id='product_description'>
          <div class="title">
            <%= link_to product.name, product %>
          </div>
          <%= number_to_currency(product.price) %>
          <br>
          <%= product.description %>
          <div id="edit_destroy">
            <% if session[:user_id] == product.user_id %>
              [<%= link_to 'Edit', edit_product_path(product) %>] [<%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>]
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

