<h1>Products</h1>

<table>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><img src="http://placekitten.com/150/150"></img></td>
        <td id='product_description'>
          <div id="product_title">
            <%= link_to product.name, product %>
          </div>
          <%= number_to_currency(product.price) %>
          <br>
          <%= product.description %>
          <div id="edit_destroy">
            <% unless session[:user_id].nil? %>
            [<%= link_to 'Edit', edit_product_path(product) %>] [<%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>]
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Product!', new_product_path %>
