<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Photo URL:</strong>
  <%= @product.photo %>
</p>
<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
<strong>Categories:</strong><br>
  <% @product.categories.each do |category| %>
    - <%= category.name %><br>
  <% end %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<% @product.reviews.each do |review| %>

  <p><strong>Title: </strong><%= review.title %></p>
  <p><strong>Author: </strong><%= review.author %></p>
  <p><strong>Content: </strong><%= review.content %></p>
  <p><strong>Rating: </strong><%= review.rating %></p>
  <hr>
<% end %>
