<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Photo URL:</strong>
  <%= @product.photo %>
</p>
<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<%= @product.categories.inspect %>

<p>
<strong>Categories:</strong><br>
  <% @product.categories.each do |category| %>
    - <%= category.name %><br>
  <% end %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
