<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Photo URL:</strong>
  <%= @product.photo %>
</p>
<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
<strong>Categories:</strong><br>
  <% @product.categories.each do |category| %>
    <ul><li><%= link_to "#{category.name}", category_path(category) %></li></ul>
  <% end %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>



<%= form_for([@product, Review.new]) do |f| %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <br>
    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <br>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </div>
    <div class="field">
      <%= f.label :rating %><br>
      <%= f.number_field :rating %>
    </div>

    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>



  <% @product.reviews.each do |review| %>

    <p><strong>Title: </strong><%= review.title %></p>
    <p><strong>Author: </strong><%= review.author %></p>
    <p><strong>Content: </strong><%= review.content %></p>
    <p><strong>Rating: </strong><%= review.rating %></p>
    <hr>
  <% end %>

