<% if @product.item_status == "retired" %>
  <h3> This item is no longer active </h3>
<% end %>

<div class="box">
  <div class="image">
    <% if @product.photo == "" %>
      <%= image_tag("/assets/sloth_default.png", size: '150x150') %> 
    <% else %>
      <%= image_tag(@product.photo, size: '150x150') %> 
    <% end %>
  </div>

  <div class="product_details">
    <h1><%= @product.name %></h1>
    <% if !@product.reviews.nil? %>
      <% @product.reviews.average(:rating).to_i.times do %>
        <%= image_tag "sloth_star.jpeg",size:"25x25" %>
      <% end %>
    <% else %>
        <em><%= "Not Rated" %></em>
    <% end %>
    <p>
      <strong>Sold By:</strong>
      <% @user = User.find(@product.user_id) %>
      <%= link_to "#{@user.username}", user_path(@user) %>
    </p>
    
    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@product.price) %>
    </p>

    <p>
      <% if @product.stock > 0 %>
        In stock!
      <% else %>
        Out of stock
      <% end %>
    </p>

    <% unless session[:user_id] && session[:user_id] == @product.user_id %>
      <%= button_to "Add to Cart", order_items_path(:product_id => @product.id)%>
    <% end %>

    <% if current_user && current_user.id == @product.user_id %>
      <%= link_to 'Edit', edit_product_path(@product) %>
    <% end %>
    </br></br>
    <% if current_user && current_user.id == @product.user_id %>
      <% if @product.item_status == "active" %>
        <%= button_to "Retire", retire_product_path(:product_id => @product.id), method: :post %>
      <% else %>
        <%= button_to "Activate", activate_product_path(:product_id => @product.id), method: :post %>
      <% end %>
    <% end %>
  </div>
</div>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
</br>
<% unless current_user && current_user.id == @product.user_id %>
<p><a href="#review_form" onclick="toggle_visibility('review_form');">Write a Product Review</a></p>

<div id="review_form" style="display:none">
  <%= form_for([@product, Review.new]) do |f| %>
    <p>
      <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    </p>
    <p>
    <div class="field">
      <% if current_user %>
        <%= f.hidden_field :author, :value => User.find(current_user.id).username %> 
      <% else %>
        <%= f.hidden_field :author, :value => 'Anonymous' %>
      <% end %>
    </div> 
    </p>
    <p>
    <div class="field">
      <%= f.label :content, 'Write your review:' %><br>
      <%= f.text_area :content %>
    </div>
    </p>
    <p>
    <div class="field">
      <%= f.label :rating, 'Rate it:' %><br>
      <%= f.select( :rating, options_for_select(1..5) ) %>
    </div>
    </p>
    <p>
    <div class="actions">
      <%= f.submit("Onward, to glory!") %>
    </div>
    </p>
  </div>
  <% end %>
<% end %>

</br></br>
<div class="review">
  <% @product.reviews.each do |review| %>
    <div class="review">
      <strong><%= review.title %></strong> </br>
      <%= time_ago_in_words(review.created_at) %> ago, by <strong><%= review.author %>:</strong> </br>
      <%= review.content %> </br>
      <% review.rating.times do %>
      <%= image_tag "sloth_star.jpeg",size:"25x25" %>
      <% end %>
    <hr>
  <% end %>
</div>


