<!DOCTYPE html>
<html>

  <head>
    <title>SlothExpress | Release Your Inner Sloth</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="user_nav">
      
      <% if current_user %>
        Logged in as <%= current_user.username %> (<%= link_to "Log out", log_out_path %>)
      <% else %>
        <%= link_to "Sign In", log_in_path %>
      <% end %>

      |
      
      <% if current_order %>
        <%= link_to order_path(current_order.id) do %>
          <%= image_tag("cart.png") -%>
        <% end %>
        <%= link_to "Cart", order_path(current_order.id) %>
      <% else %>
        <%= link_to '/orders/empty' do %>
          <%= image_tag("cart.png") -%>
        <% end %>
        <%= link_to "Cart", '/orders/empty' %>
      <% end %>
    </div>

    <div id="header">
      <table id="logo">
        <tr>
          <td>
            <%= link_to(image_tag("logo.png"), products_path, :title => "Take me home!")%>
          </td>
          <td id='slogan'>
            "Made by sloths, for sloths."
          </td>
        </tr>
      </table>

      <% if current_user && current_user.username == "Sloth King" %>
        <div id="admin_tools">
          <strong>Admin Dashboard:</strong>
          <table>
            <tr>
              <td><%= link_to "Users", users_path %></td>
              <td><%= link_to "Products", "/products/admin_view" %></td>
              <td><%= link_to "Categories", categories_path %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>



    <div id= "columns">
      <div id="nav">
        <%= form_tag search_products_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, nil, placeholder: "I want to buy things!" %>
            <%= submit_tag "Search" %>
          </p>
        <% end %>

        <div id="side_nav">
          <% if current_user %>
            <%= link_to "My Account", user_path(session[:user_id]) %>
          <% else %>
            <%= link_to "My Account", log_in_path %>
          <% end %>
          
          </br></br>
        
          <a href="#" onclick="toggle_visibility('dropdown');">Browse Marketplace</a>
          <ul id="dropdown">
            <li><%= link_to "All Products", products_path %></li>
            <li><a href="#" onclick="toggle_visibility('categories_dropdown');">By Category</a>
              <ul id="categories_dropdown">
                <% Category.all.each do |category| %>
                  <li><%= link_to "#{category.name}", category %></li> 
                <% end %>
              </ul>
            </li>
            <li><%= link_to "By Vendors", vendors_path %></li> 
          </ul>

          <br><br>

          <div id="fun_facts">
            <p><strong>Did you know?</strong></p>
            <div id="fact_text">
              <%= fun_facts %> 
            </div>
          </div>
        </div>
      </div>

      <div id= "main">
        <% flash.each do |name, msg| %>
          <div class="flash_<%= name %>">
            <%= msg %>
          </div>
        <% end %>

        <%= yield %>

      </div>

    </div>

  </body>

</html>
